<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/vue.js"></script>
    <title>Второе занятие | Стили</title>
</head>
<style>
    .alert {
        transition: min-height .5s ease-in;
    }
</style>
<body>
    <div class="wrapper">
        <div class="sample">
            <div class="alert" :style="[minHeight, properties]">
                Some Text
            </div>
            <hr>
            <table class="table table-bordered">
                <tr v-for="(value, name) in properties">
                    <td>{{name}}</td>
                    <td>
                        <input type="text" v-model="properties[name]">
                    </td>
                </tr>
            </table>
            <hr>
            <button class="btn btn-primary" @click="height += 10"> + height</button>
            {{minHeight}}
        </div>
    </div>
</body>
<script>

    /* 
        
        :class="string"
        :class="array"
        :class="object"
        :class="[str, obj]"
    
    */

    new Vue({

        el: '.sample',

        data: {
            properties: {
                color: '#000',
                backgroundColor: 'green',
                fontWeight: 'bold'
            },
            height: 50,
        },
        computed: {
            minHeight() {
                
                return {
                    minHeight: this.height + 'px'
                }
            }
        }
        
    });

</script>

</html>